target
bin
logs
test-output
.classpath
.project
.settings

.DS_Store
.metadata
.recommenders
/parent/
.idea/

admin/admin.iml
m/m.iml
service/service.iml
util/util.iml



IntelliLang.xml
_windows\keymap.xml
_windows\laf.xml
_windows\path.macros.xml
colors.scheme.xml
databaseSettings.xml
debugger.renderers.xml
debugger.xml
diff.xml
mavenVersion.xml
ui.lnf.xml
web-browsers.xml
